
.git
.gitignore
.vercel
venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache
.mypy_cache
backend/scan_log.txt
*.png
*.html
docker-compose.yml
README.md
LICENSE
vercel.json
